<h2>Here are some of our bestsellers</h2>

<ul>
  <% @users.each do |user| %>
  <li>
    <%= user %>
  </li>
  <% end %>
</ul>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Email</th>
      <th>date_joined</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= user[:id] %>
      </td>
      <td>
        <%= user[:name] %>
      </td>
      <td>
        <%= user[:email] %>
      </td>
      <td>
        <%= user[:date_joined] %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
